# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# python
__pycache__
*.pyc
*.pyo
*.pyd

# crypt and data
data/*
key.key
*.db