<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta content="true" name="HandheldFriendly" />
    <meta content="width" name="MobileOptimized" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>prsc</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
</head>

<body>
    <div id="password_manager">
        <h1>prsc</h1>
        <h2>Менеджер паролей</h2>

        <a href="{{ url_for('add_password') }}">Добавить</a>

        <a href="">JSON</a>
        <a href="">CSV</a>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Сайт</th>
                    <th>Логин</th>
                    <th>Пароль</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('del_password') }}">
                            <input type="hidden" name="id" value="{{ row[0] }}">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>

</html>